MONGODB_URI = <mongodb_uri>
CLIENT_URL = https://adis-coral.vercel.app #fixed

# JWT
JWT_SECRET_KEY=<jwt_secret_key>
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440

# LLMS AND THEIR API KEY
GROQ_API_KEY=<groq_api_key>
GEMINI_API_KEY=<gemini_api_key>
CEREBRAS_API_KEY=<cerebras_api_key>


GMAP_DEMO_KEY = <gmap_demo_key>

TAVILY_API_KEY = <tavily_api_key>