# environment variable
.env

# virtual environment
.venv
.adis
*.db
/voice/models/faster-whisper
/voice/models/openai-whisper

# python cache
__pycache__

# node modules
node_modules

# build
dist
build

# logs
logs

# egg-info
*.egg-info